.Weather {
    border: none;
    text-shadow: 1px 1px 1px #4f5050dc;
    color: #464747;
    padding: 20px;
    border-radius: 8px;
    background:rgba(26, 8, 118, 0.284);
    box-shadow: 10px 13px 19px 6px rgba(24, 28, 28, 0.392);
}

.Weather form {
    margin-bottom: 20px;
    border: none ;
}
.Weather .form-control {
    opacity: .7;
    border-radius: none;
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    
}

.Weather h1 {
    color: #313330c4;
    display: block;
    font-size: 35px;
    font-weight: 500;
    line-height: 24px;
    padding: 0px 1px 6px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Weather ul {
    margin: 5px auto;
    padding: 02;
}
.Weather .weatherDesc{
    margin-top: -16%;
    color: #ffffff;
    padding: 1px 1px 17px;
    font-style: oblique;
}

.Weather li {
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: 300;
    line-height: 25px;
    list-style: none;
    
}
.Weather canvas {
    height: 25%;
    width: auto;
    position: absolute;
    top: 20%;
    left: 53%;
    opacity: .8;
}

.Weather .temperature {
    font-weight: 400;
    position: relative;
    display: flex;
    text-shadow: 1px 2px 2px rgba(99, 96, 96, 0.486);
    font-size:84px;
    color: #f4eeee;
    line-height: 50px;
   text-align: center;
   margin: 2px 190px 15px;
}

.Weather .units {
    color:#fffcfa;
    text-shadow: 1px 2px 2px;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    margin-left: 17em;
    margin-top: -4.5em;
    
}