.Weather {
    border: none;
    text-shadow: 1px 1px 1px #0d5840b1;
    color: #ebe6e6;
    padding: 20px;
    border-radius: 8px;
    background:rgba(121, 50, 98, 0.399);
    box-shadow: 10px 13px 19px 6px rgba(93, 101, 101, 0.2);
}

.Weather form {
    margin-bottom: 20px;
    border: none ;
}
.Weather .form-control {
    opacity: .7;
    border-radius: none;
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    
}

.Weather h1 {
    color: #688455d1;
    display: block;
    font-size: 35px;
    font-weight: 500;
    line-height: 24px;
    padding: 0px 30px 6px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather .weatherDesc{
    margin-top: -15%;
    color: #688455d1;
    padding: 0px 1px 20px;
}

.Weather li {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    
}
.Weather canvas {
    height: 25%;
    width: auto;
    position: absolute;
    top: 18%;
    left: 53%;
    opacity: .5;
}

.Weather .temperature {
    font-weight: 400;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.486);
    font-size:84px;
    color: #524b49c7;
    line-height: 50px;
    margin-left: 105%;
}

.Weather .metric {
    color:#79706B;
    text-shadow: 1px 2px 2px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -50px;
    margin-left: 10px;
    line-height: 1;
    text-decoration-line: none;
}
.Weather .imperial {
    color:#79706B;
    text-shadow: 1px 2px 2px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -50px;
    right: -245px;
    margin-left: 10px;
    text-decoration-line: none;
    
}